## Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

MongoDb is a Populer OpenSourec NoSQl database management system that store data in key value pair(dict) or json format.

Non-SQL database management system that store unstructured data,than can be json ,dict etc.

if you have complex data like unstructured,nested array or maybe you need to graphical support in your app  it can be very helpfull and also abibility to store large vol of data quickely makes it suitable for caching and content delivery scenarios.

# Q2. State and Explain the features of MongoDB.

1. Json-like Documents:-
   in MongoDb data represent as json format its make easy to devlopers to wot with and understand data.

2. Aggregation Framework:-
     Aggregation Framework allows for complex data transformations and analysis in data base.it also support sorting , grouping data.
   
4. High Performance:-
    MongoDB is optimized for high performance, providing efficient read and write operations.

# Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [7]:
from pymongo import MongoClient

uri = "mongodb+srv://www588650:arpan@cluster1.kdt4bq1.mongodb.net/?retryWrites=true&w=majority&appName=Cluster1"

client=MongoClient(uri)

Database=client['Assigenment']
collection=Database['test']

# Q4. Using the database and the collection created in question number 3, write a code to insert one record,
# and insert many records. Use the find() and find_one() methods to print the inserted record.

In [8]:
data = {
    "name": "Jane Smith",
    "age": 25,
    "occupation": "Engineer"
}

insert=collection.insert_one(data)

In [9]:
records=[
      {"name": "Alice", "age": 25, "city": "Wonderland"},
      {"name": "Bob", "age": 35, "city": "Techtopia"},
      {"name": "Lisa", "age": 27, "city": "Tokyo"},
    {"name": "Bobe", "age": 55, "city": "Los vegas"}
]
collection.insert_many(records)

InsertManyResult([ObjectId('65e6b1392b8639c47991e04e'), ObjectId('65e6b1392b8639c47991e04f'), ObjectId('65e6b1392b8639c47991e050'), ObjectId('65e6b1392b8639c47991e051')], acknowledged=True)

In [10]:
find=collection.find()

In [12]:
for i in find:
    print(i)

{'_id': ObjectId('65e6b0132b8639c47991e04d'), 'name': 'Jane Smith', 'age': 25, 'occupation': 'Engineer'}
{'_id': ObjectId('65e6b1392b8639c47991e04e'), 'name': 'Alice', 'age': 25, 'city': 'Wonderland'}
{'_id': ObjectId('65e6b1392b8639c47991e04f'), 'name': 'Bob', 'age': 35, 'city': 'Techtopia'}
{'_id': ObjectId('65e6b1392b8639c47991e050'), 'name': 'Lisa', 'age': 27, 'city': 'Tokyo'}
{'_id': ObjectId('65e6b1392b8639c47991e051'), 'name': 'Bobe', 'age': 55, 'city': 'Los vegas'}

In [16]:
find_one=collection.find_one()
print(find_one)

{'_id': ObjectId('65e6b0132b8639c47991e04d'), 'name': 'Jane Smith', 'age': 25, 'occupation': 'Engineer'}

In [18]:
find={'name':'Jane Smith'}
jane=collection.find_one(find)
print(jane)

{'_id': ObjectId('65e6b0132b8639c47991e04d'), 'name': 'Jane Smith', 'age': 25, 'occupation': 'Engineer'}

# Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

The find() method in MongoDB is used to retrieve documents from a collection.A document that specifies the conditions that must be met for a document to be included in the result If no conditions are provided, it retrieves all documents in the collection.

In [19]:
demonstate = collection.find()
for i in demonstate:
    print(i)

{'_id': ObjectId('65e6b0132b8639c47991e04d'), 'name': 'Jane Smith', 'age': 25, 'occupation': 'Engineer'}
{'_id': ObjectId('65e6b1392b8639c47991e04e'), 'name': 'Alice', 'age': 25, 'city': 'Wonderland'}
{'_id': ObjectId('65e6b1392b8639c47991e04f'), 'name': 'Bob', 'age': 35, 'city': 'Techtopia'}
{'_id': ObjectId('65e6b1392b8639c47991e050'), 'name': 'Lisa', 'age': 27, 'city': 'Tokyo'}
{'_id': ObjectId('65e6b1392b8639c47991e051'), 'name': 'Bobe', 'age': 55, 'city': 'Los vegas'}

# Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

In [22]:
'''In MOngoDb sort() methode use for sorting order for query's'''
sort=collection.find().sort('name',1)
for i in sort:
    print(i)

{'_id': ObjectId('65e6b1392b8639c47991e04e'), 'name': 'Alice', 'age': 25, 'city': 'Wonderland'}
{'_id': ObjectId('65e6b1392b8639c47991e04f'), 'name': 'Bob', 'age': 35, 'city': 'Techtopia'}
{'_id': ObjectId('65e6b1392b8639c47991e051'), 'name': 'Bobe', 'age': 55, 'city': 'Los vegas'}
{'_id': ObjectId('65e6b0132b8639c47991e04d'), 'name': 'Jane Smith', 'age': 25, 'occupation': 'Engineer'}
{'_id': ObjectId('65e6b1392b8639c47991e050'), 'name': 'Lisa', 'age': 27, 'city': 'Tokyo'}

In [23]:
sort=collection.find().sort('name',-1)
for i in sort:
    print(i)

{'_id': ObjectId('65e6b1392b8639c47991e050'), 'name': 'Lisa', 'age': 27, 'city': 'Tokyo'}
{'_id': ObjectId('65e6b0132b8639c47991e04d'), 'name': 'Jane Smith', 'age': 25, 'occupation': 'Engineer'}
{'_id': ObjectId('65e6b1392b8639c47991e051'), 'name': 'Bobe', 'age': 55, 'city': 'Los vegas'}
{'_id': ObjectId('65e6b1392b8639c47991e04f'), 'name': 'Bob', 'age': 35, 'city': 'Techtopia'}
{'_id': ObjectId('65e6b1392b8639c47991e04e'), 'name': 'Alice', 'age': 25, 'city': 'Wonderland'}

# Q7. Explain why delete_one(), delete_many(), and drop() is used.

The methodes elete_one(), delete_many(), and drop()  ar use for delete removing doccuments or entire delete doccument/collection

In [25]:
dele={'name':'Jane Smith'}
del_one=collection.delete_one(dele)

In [26]:
for i in dele:
    print(i)

name

In [27]:
sort=collection.find().sort('name',1)
for i in sort:
    print(i)

{'_id': ObjectId('65e6b1392b8639c47991e04e'), 'name': 'Alice', 'age': 25, 'city': 'Wonderland'}
{'_id': ObjectId('65e6b1392b8639c47991e04f'), 'name': 'Bob', 'age': 35, 'city': 'Techtopia'}
{'_id': ObjectId('65e6b1392b8639c47991e051'), 'name': 'Bobe', 'age': 55, 'city': 'Los vegas'}
{'_id': ObjectId('65e6b1392b8639c47991e050'), 'name': 'Lisa', 'age': 27, 'city': 'Tokyo'}

In [28]:
# now you can see dele doccument deleted from collection

In [29]:
records=[
      {"name": "Alice", "age": 25, "city": "Wonderland"},
      {"name": "Bob", "age": 35, "city": "Techtopia"},
      {"name": "Lisa", "age": 27, "city": "Tokyo"},
    {"name": "Bobe", "age": 55, "city": "Los vegas"},
    {"name" :'Richel','age':35,'city':'NY'}
]
collection.insert_many(records)

InsertManyResult([ObjectId('65e6b5f32b8639c47991e052'), ObjectId('65e6b5f32b8639c47991e053'), ObjectId('65e6b5f32b8639c47991e054'), ObjectId('65e6b5f32b8639c47991e055'), ObjectId('65e6b5f32b8639c47991e056')], acknowledged=True)

In [30]:
dele_many={'age':35}
many=collection.delete_many(dele_many)
for i in dele_many:
    print(i)

age

In [32]:
collection.drop()

In [33]:
sort=collection.find()
for i in sort:
    print(i)

In [ ]:
#  delete the entire collection.