## Q1. What is data encoding? How is it useful in data science?

Data Encoding :- data encoding a method in ML to convert catagoriccal data to numariacl data.

In Data Science convert catagoriccal data to numariacl data because computer don't understand catagorical data to convert them
data and feed them to build model.

## Q2. What is nominal encoding? Provide an example of how you would use it in a real-world scenario.

Nominal Encodding: - Nominal encoding  convert catagoriccal data to numariacl data by creating binary vectors

In [127]:
import seaborn as sns

from sklearn.preprocessing import OneHotEncoder
ohe=OneHotEncoder()

df=sns.load_dataset('tips')

In [129]:
encode=ohe.fit_transform(df[['sex']])

In [131]:
df1=pd.DataFrame(encode.toarray(),columns=ohe.get_feature_names_out())

In [133]:
df1['sex']=df['sex']

In [135]:
df1

     sex_Female  sex_Male     sex
0           1.0       0.0  Female
1           0.0       1.0    Male
2           0.0       1.0    Male
3           0.0       1.0    Male
4           1.0       0.0  Female
..          ...       ...     ...
239         0.0       1.0    Male
240         1.0       0.0  Female
241         0.0       1.0    Male
242         0.0       1.0    Male
243         1.0       0.0  Female

[244 rows x 3 columns]

## Q3. In what situations is nominal encoding preferred over one-hot encoding? Provide a practical example.

1. Large Data: In Large no of data it lead us sparse matrix problem which create model overfitting.

2. Oder Rand :when categories have an inherent order or Rank

In [142]:
from sklearn.preprocessing import LabelEncoder
data = {'customer_id': [1, 2, 3, 4, 5],
        'customer_zip_code': ['12345', '67890', '54321', '67890', '12345'],
        'churn': [0, 1, 0, 1, 0]}
df = pd.DataFrame(data)


label_encoder = LabelEncoder()
df['customer_zip_code_encoded'] = label_encoder.fit_transform(df['customer_zip_code'])

In [144]:
df

   customer_id customer_zip_code  churn  customer_zip_code_encoded
0            1             12345      0                          0
1            2             67890      1                          2
2            3             54321      0                          1
3            4             67890      1                          2
4            5             12345      0                          0

## Q4. Suppose you have a dataset containing categorical data with 5 unique values. Which encoding
## technique would you use to transform this data into a format suitable for machine learning algorithms?
## Explain why you made this choice.

If dataset content categorical data with 5 unique values int that case we should use Labale encoder if 5 unique values are in order or rank we should definetly use ordinal encoder.

Explain :- If we use ohe of 5 unique value it create extra 5 columns that can crate sprse matrix which can lead us overfitting.

## Q5. In a machine learning project, you have a dataset with 1000 rows and 5 columns. Two of the columns
## are categorical, and the remaining three columns are numerical. If you were to use nominal encoding to
## transform the categorical data, how many new columns would be created? Show your calculations.

given data:- numarcical col=3
            categoricl col =2
            
            row =1000
            
nominal encoding to transform the categorical data:-
            numarcical= 3
            encode_categorical col= 2
        
no new columns are created,the original two categorical columns are simply transformed into numerical columns, keeping the total column count the same at 5.

## Q6. You are working with a dataset containing information about different types of animals, including their
## species, habitat, and diet. Which encoding technique would you use to transform the categorical data into
## a format suitable for machine learning algorithms? Justify your answer.

cols= animals , species , habits , diet

for animals use label encoding/ ohe their is no order in animal

for species use ordinal encoding ex- dog can be diffrent types of species.

for habit use label encoding/ ohe their is no order in habit

for diet use ohe encoding ex- dog can be diffrent types of diet.

## Q7.You are working on a project that involves predicting customer churn for a telecommunications
## company. You have a dataset with 5 features, including the customer's gender, age, contract type,
## monthly charges, and tenure. Which encoding technique(s) would you use to transform the categorical
## data into numerical data? Provide a step-by-step explanation of how you would implement the encoding.

cols=  customer's gender, age, contract type, monthly charges,  tenure

1. gender- gender have only 2 unique values so,if we use Ohe it would't create mauch sparce matrix .we can use Ohe for gender encoding

2. age - Age is numarical col we don't need encoding

3. contract type - contract type can be have diffrent types of unique catagoricval values 4-5 .so ,for sperse matrix ohe is not good optinion then label encoder will best to use.

4. monthly charges- numarical col

5. tenure - numarical col