## Q1. What is the difference between Ordinal Encoding and Label Encoding? Provide an example of when you
## might choose one over the other.

Ordinal Encoding:- ordinal encoding is ML encoding method to convert catagoricl to numarical value. let"s we have gemston dataset with a col quality unique value -premium> normal >low


in this kind of problem which has spacific odrer or rank we use ordinal encode.

Labale encode - In lable encode  method to convert catagoricl to numarical value ,it does not have any order 
ex- gender

## Q2. Explain how Target Guided Ordinal Encoding works and provide an example of when you might use it in a machine learning project.

Target Guided Ordinal Encoding is a method used to encode categorical variables in a way that preserves the ordinal relationship between the categories and is based on the target variable in a supervised learning problem

Suppose we have a classification problem where we need  predict the risk level of loan applicants (low risk, medium risk, high risk) based on various features, 
including the applicant's occupation. The occupation is a categorical variable with multiple categories.

## Q3. Define covariance and explain why it is important in statistical analysis. How is covariance calculated?

Covariacne : covarinces describe realationship between two random variable.
 If the variables tend to increase togather possative corr
 If the variables tend to  decrease togther negative corr.

This can help in identifying whether an increase in one variable might result in an increase or decrease in another variable. In stock market news has huge impact on stocks if news good stock upward or bad
stock downwords

in machine learning and data analysis, understanding the covariance between features can help in feature selection. corr  highly related good if not we can remove that feature.



Cov(x,y)= sumasion of( xi- x_mean)*(yi -y_mean)/n-1)

## Q4. For a dataset with the following categorical variables: Color (red, green, blue), Size (small, medium,large), and Material (wood, metal, plastic), perform label encoding using Python"s scikit-learn library.
## Show your code and explain the output.

In [17]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder,OrdinalEncoder

data={
"color":[["red","green","blue"]],
"size":[["small","medium","large"]],
"Material" :[["wood", "metal", "plastic"]]
}
df=pd.DataFrame(data)
df

   color    size Material
0    red   small     wood
1  green  medium    metal
2   blue   large  plastic

In [85]:
df_order=[["small", "medium", "large"]]
df_order

['small', 'medium', 'large']

In [79]:
le=LabelEncoder()

od = OrdinalEncoder(categories=[[df_order]])


df[["size_ordinal_encoded"]] = od.fit_transform(df[[[["size"]]]])

df[["color_labek_encoded"]]=le.fit_transform(df[["color"]])
df[["Metrial_label_encode"]]=le.fit_transform(df[["Material"]])

In [81]:
df

,color,size,Material,size_ordinal_encoded,color_labek_encoded,Metrial_label_encode
0,red,small,wood,0.0,2,2
1,green,medium,metal,1.0,1,0
2,blue,large,plastic,2.0,0,1

## Q5. Calculate the covariance matrix for the following variables in a dataset: Age, Income, and Education level. Interpret the results.

In [121]:

data = {
    "Age": [[25, 30, 35, 40, 45]],
    "Income": [[50000, 60000, 70000, 80000, 90000]],
    "Education Level": [["High School", "Bachelor\"s Degree", "Master\"s Degree", "PhD", "Associate\"s Degree"]]
}

df = pd.DataFrame(data)
df

   Age  Income     Education Level
0   25   50000         High School
1   30   60000   Bachelor"s Degree
2   35   70000     Master"s Degree
3   40   80000                 PhD
4   45   90000  Associate"s Degree

In [123]:
ed= [["High School", "Bachelor\"s Degree", "Master\"s Degree", "PhD", "Associate\"s Degree"]]
od = OrdinalEncoder(categories=[[ed]])


df[['En_Education Level']] = od.fit_transform(df[[[['Education Level']]]])

In [125]:
df

   Age  Income     Education Level  En_Education Level
0   25   50000         High School                 0.0
1   30   60000   Bachelor"s Degree                 1.0
2   35   70000     Master"s Degree                 2.0
3   40   80000                 PhD                 3.0
4   45   90000  Associate"s Degree                 4.0

In [133]:
df[[[['Age', 'Income','En_Education Level']]]].cov()

                         Age       Income  En_Education Level
Age                     62.5     125000.0                12.5
Income              125000.0  250000000.0             25000.0
En_Education Level      12.5      25000.0                 2.5

## Q6. You are working on a machine learning project with a dataset containing several categorical
## variables, including "Gender" (Male/Female), "Education Level" (High School/Bachelor's/Master's/PhD),
## and "Employment Status" (Unemployed/Part-Time/Full-Time). Which encoding method would you use for
## each variable, and why?

1. gender- gender have only 2 unique values so,if we use Ohe it would't create mauch sparce matrix .we can use Ohe for gender encoding

2. Education Level - Education Level has a mejor impact on job.so,Odinal Encoding perfect for Education level

3. Employment Status- Employment Status suitable for Ohe because  there's no inherent ordinal relationship between the categories

## Q7. You are analyzing a dataset with two continuous variables, "Temperature" and "Humidity", and two
## categorical variables, "Weather Condition" (Sunny/Cloudy/Rainy) and "Wind Direction" (North/South/East/West).
## Calculate the covariance between each pair of variables and interpret the results.

In [198]:
data={
        'Temperature': [[72, 68, 75, 70, 80]],
    'Humidity': [[60, 55, 70, 45, 75]],
    'Weather Condition': [['Sunny', 'Cloudy', 'Rainy', 'Sunny', 'Cloudy']],
    'Wind Direction': [['North', 'South', 'East', 'West', 'North']]
}
df = pd.DataFrame(data)
print(df)

   Temperature  Humidity Weather Condition Wind Direction
0           72        60             Sunny          North
1           68        55            Cloudy          South
2           75        70             Rainy           East
3           70        45             Sunny           West
4           80        75            Cloudy          North

In [204]:

conditions = [['Sunny', 'Cloudy', 'Rainy']]
directions = [['North', 'South', 'East', 'West']]


oe = OrdinalEncoder(categories=[[conditions]])
df[['Weather Condition']] = oe.fit_transform(df[[[['Weather Condition']]]])


le = LabelEncoder()
df[['Wind Direction']] = le.fit_transform(df[['Wind Direction']])

df

   Temperature  Humidity  Weather Condition  Wind Direction  Condition
0           72        60                0.0               1        0.0
1           68        55                1.0               2        1.0
2           75        70                2.0               0        2.0
3           70        45                0.0               3        0.0
4           80        75                1.0               1        1.0

In [206]:
df.corr()

,Temperature,Humidity,Weather Condition,Wind Direction,Condition
Temperature,1.000000,0.870675,0.382235,-0.607716,0.382235
Humidity,0.870675,1.000000,0.650814,-0.863294,0.650814
Weather Condition,0.382235,0.650814,1.000000,-0.681385,1.000000
Wind Direction,-0.607716,-0.863294,-0.681385,1.000000,-0.681385
Condition,0.382235,0.650814,1.000000,-0.681385,1.000000

Tmprature and Humidity are highly related High temprature mean high humidity

Tmprature and Weather Condition less related week covarince

Teprature and Wind Direction no strong negative relation
Temperature and Condition   week covarince

In [212]:
df.columns

Index(['Temperature', 'Humidity', 'Weather Condition', 'Wind Direction',
       'Condition'],
      dtype='object')

In [218]:

cov_temp_weather = df[['Temperature','Humidity']].cov()
cov_temp_wind = df[['Temperature','Wind Direction']].cov
cov_humidity_weather = df[['Temperature','Condition']].cov

# Interpreting the results
print("Covariance between Temperature and Humidity:", cov_temp_humidity)
print("Covariance between Temperature and each Weather Condition (Sunny, Cloudy, Rainy):", cov_temp_weather)

print("Covariance between Temperature and each Wind Direction (North, South, East, West):", cov_temp_wind)
print("Covariance between Humidity and each Weather Condition (Sunny, Cloudy, Rainy):", cov_humidity_weather)

Covariance between Temperature and Humidity: -30.0
Covariance between Temperature and each Weather Condition (Sunny, Cloudy, Rainy):              Temperature  Humidity
Temperature        22.00     48.75
Humidity           48.75    142.50
Covariance between Temperature and each Wind Direction (North, South, East, West): <bound method DataFrame.cov of    Temperature  Wind Direction
0           72               1
1           68               2
2           75               0
3           70               3
4           80               1>
Covariance between Humidity and each Weather Condition (Sunny, Cloudy, Rainy): <bound method DataFrame.cov of    Temperature  Condition
0           72        0.0
1           68        1.0
2           75        2.0
3           70        0.0
4           80        1.0>