# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd
data=[4,8,15,16,23,42]

In [4]:
ser=pd.Series(data)
print(ser)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [5]:
type(ser)

pandas.core.series.Series

# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [6]:
l=[12,1,5,1,2,1,2,'ac','avr','var']
pd.Series(l)

0     12
1      1
2      5
3      1
4      2
5      1
6      2
7     ac
8    avr
9    var
dtype: object

# Q3. Create a Pandas DataFrame that contains the following data:

In [12]:
data=[
    {'name':'Alice','Age':25,'Gender':'Female'},
    {'name':'Bob','Age':30,'Gender':'male'},
    {'name':'claire','Age':27,'Gender':'Female'}
      ]
df=pd.DataFrame(data)
print(df)

     name  Age  Gender
0   Alice   25  Female
1     Bob   30    male
2  claire   27  Female

# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [13]:
''' 
DataFrame is a two-dimensional data structure that holds data in two-dimension array or a table with rows and columns.
'''
df

     name  Age  Gender
0   Alice   25  Female
1     Bob   30    male
2  claire   27  Female

In [14]:
'''
Series is a on dimensonal data structure that holdas integer,string
'''
ser

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [17]:
' .isnull(), .drop(), drop_duplicates(),etc'
df.isnull()

    name    Age  Gender
0  False  False   False
1  False  False   False
2  False  False   False

In [18]:
df.duplicated()

0    False
1    False
2    False
dtype: bool

# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

# Q7. Create a DataFrame using multiple Series. Explain with an example.

In [20]:
r = pd.Series([i*3 for i in range(0, 10)], name='rrr')
s = pd.Series([i*5 for i in range(0, 10)], name='sss')

In [21]:
r

0     0
1     3
2     6
3     9
4    12
5    15
6    18
7    21
8    24
9    27
Name: rrr, dtype: int64

In [22]:
s

0     0
1     5
2    10
3    15
4    20
5    25
6    30
7    35
8    40
9    45
Name: sss, dtype: int64