In [1]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

# Q1. Write a code to print the data present in the second row of the dataframe, df.

In [2]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [3]:
print(df.loc()[1])

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

# Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

In [4]:
'''It’s all about labels—specifically, row and column labels
loc selects based on labels'''
df.loc[3,'duration']

4

In [5]:
'iloc is the pragmatic cousin. It’s all about integer positions.iloc selects based on integer positions'
df.iloc[2, 1]

6

# Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].

In [6]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [7]:
new_df=df1.reindex([3,0,1,2])

In [8]:
new_df.loc[2]

column_1    0.650019
column_2    0.698236
column_3    0.297367
column_4    0.848270
column_5    0.991941
column_6    0.334293
Name: 2, dtype: float64

In [9]:
new_df.iloc[2]

column_1    0.848272
column_2    0.836417
column_3    0.631718
column_4    0.397987
column_5    0.154007
column_6    0.542455
Name: 1, dtype: float64

# Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) Mean of each and every column present in the dataframe.

(ii) Standard deviation of column, ‘column_2’

In [10]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.848272  0.836417  0.631718  0.397987  0.154007  0.542455
2  0.650019  0.698236  0.297367  0.848270  0.991941  0.334293
3  0.289714  0.560152  0.808629  0.772778  0.776059  0.636578
4  0.878001  0.178326  0.695606  0.339617  0.654949  0.848540
5  0.817353  0.581342  0.882705  0.079741  0.395188  0.520352
6  0.747758  0.302275  0.979143  0.975288  0.816746  0.448854

In [11]:
for i in df1.columns:
	mean=df1[i].mean()
	print(f'{i} mean is {mean}')

column_1 mean is 0.7051862228772331
column_2 mean is 0.526124613201101
column_3 mean is 0.7158615032803942
column_4 mean is 0.5689468701422256
column_5 mean is 0.6314817663568029
column_6 mean is 0.5551788629395339

In [12]:
for i in df1.columns:
	std=df1[i].std()
	print(f'{i} mean is {std}')

column_1 mean is 0.21926842232361268
column_2 mean is 0.2454316901100681
column_3 mean is 0.24016143481186245
column_4 mean is 0.3480872870208686
column_5 mean is 0.30643886814979715
column_6 mean is 0.17558883991650817

# Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2.
If you are getting errors in executing it then explain why.

In [13]:

df1.loc[2, 'column_2'] = 'string_value'

try:
    print(df1['column_2'].mean())
except TypeError as e:
    print(f"Error: {e}")

Error: unsupported operand type(s) for +: 'float' and 'str'

C:\Users\www58\AppData\Local\Temp\ipykernel_1364\2518326164.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'string_value' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df1.loc[2, 'column_2'] = 'string_value'

# Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

In [14]:
'''Windows functions in pandas are used to perform calculations across a sliding window of data. Types include:

rolling: For rolling window calculations.
expanding: For expanding window calculations.
ewm: For exponentially weighted window calculations.'''

'Windows functions in pandas are used to perform calculations across a sliding window of data. Types include:\n\nrolling: For rolling window calculations.\nexpanding: For expanding window calculations.\newm: For exponentially weighted window calculations.'

# Q7. Write a code to print only the current month and year at the time of answering this question.

In [15]:
from datetime import datetime
print(datetime.now())

2024-07-25 23:43:57.521518

# Q8. Calculate the difference between two dates in days, hours, and minutes.

In [16]:
import pandas as pd

# Input dates
date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")

# Convert to datetime
date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

# Calculate the difference
difference = date2 - date1

# Extract days, hours, and minutes
days = difference.days
hours, remainder = divmod(difference.seconds, 3600)
minutes, _ = divmod(remainder, 60)

print(f"Difference: {days} days, {hours} hours, and {minutes} minutes")

Difference: nan days, nan hours, and nan minutes

# Q9. Convert a specified column in a CSV file to a categorical data type and display sorted data.

In [17]:

df = pd.read_csv('height-weight.csv')
df.head(2)

   Weight  Height
0      45     120
1      58     135

In [18]:
df['Weight']=pd.Categorical(df['Weight'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Weight  23 non-null     category
 1   Height  23 non-null     int64
dtypes: category(1), int64(1)
memory usage: 1.0 KB

In [19]:
df_sorted = df['Weight'].sort_values()
print(df_sorted)

0      45
20     45
2      48
16     50
21     56
1      58
3      60
17     65
4      70
22     72
18     76
15     78
5      78
9      78
6      80
10     82
14     85
19     87
7      90
8      95
11     95
13    100
12    105
Name: Weight, dtype: category
Categories (19, int64): [45, 48, 50, 56, ..., 90, 95, 100, 105]

# Q10. Visualize sales data using a stacked bar chart.

In [22]:

import matplotlib.pyplot as plt

sales_data = pd.read_csv('archive\Amazon Sale Report.csv')

C:\Users\www58\AppData\Local\Temp\ipykernel_1364\4083968814.py:4: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  sales_data = pd.read_csv('archive\Amazon Sale Report.csv')

In [23]:
sales_data['Date'] = pd.to_datetime(sales_data['Date'])
sales_data.set_index('Date', inplace=True)

# Plotting stacked bar chart
sales_data.groupby([sales_data.index.year, 'Category']).sum().unstack().plot(kind='bar', stacked=True)
plt.xlabel('Year')
plt.ylabel('Sales')
plt.title('Sales of Each Product Category Over Time')
plt.show()

C:\Users\www58\AppData\Local\Temp\ipykernel_1364\481829598.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  sales_data['Date'] = pd.to_datetime(sales_data['Date'])

:

:

# Q11. Calculate the mean, median, and mode of student test scores.

In [2]:
import pandas as pd
student_data = pd.read_csv('archive\student_data.csv')

# Calculate mean, median, and mode
mean_score = student_data['Test Score'].mean()
median_score = student_data['Test Score'].median()
mode_score = student_data['Test Score'].mode().tolist()

# Display results in a table
results = pd.DataFrame({
    'Statistic': ['Mean', 'Median', 'Mode'],
    'Value': [mean_score, median_score, ', '.join(map(str, mode_score))]
})

print(results)

  Statistic Value
0      Mean  83.5
1    Median  85.0
2      Mode    85