In [5]:
marks=int(input('Entry your Marks'))

if marks>=90:
    print('Grade A')
elif marks<=90 and marks >=80:
    print('Grade B')    
elif marks <=80 and marks >=60:
    print('Grade C')
else:
    print('Grade D')

Entry your Marks 55

Grade D

In [12]:
cost_price=int(input('Entry your price'))
if cost_price >=100000:
    Tax=cost_price*0.15
    print('your Tax: ',Tax)
elif cost_price >50000 and cost_price<=100000:
    Tax=cost_price*0.1
    print('your Tax: ',Tax)
else:
    Tax=cost_price*0.05
    print('your Tax: ',Tax)

Entry your price 10000000

your Tax:  1500000.0

In [33]:
monuments = {
    "Agra": ["Taj Mahal"],
    "Delhi": ["Qutub Minar", "Red Fort",],
    "Mumbai": ["Gateway of India", "Chhatrapati Shivaji Maharaj Terminus"],
    "Hyderabad": ["Charminar", "Golconda Fort"],
    "Mysore": ["Mysore Palace"],
    "Hampi": ["Hampi"],
    "Thanjavur": ["Brihadeeswarar Temple"]
}
category = input("Enter a city for  monuments: ")

if category in monuments:
        print("Monuments in", category + ":")
        for monument in monuments[category]:
            print("- " + monument)
else:
        print("No monuments found for the city:", category)

Enter a city for  monuments:  Agra

Monuments in Agra:
- Taj Mahal

In [35]:
category = input("Enter a city for  monuments: ")
monuments[category]

Enter a city for  monuments:  Hampi

['Hampi']

In [36]:
def count_divisions_by_3(number):
    count = 0
    while number > 10:
        number /= 3
        count += 1
    return count

In [38]:
count_divisions_by_3(50)

2

In [39]:
'''While loops in Python are used to repeatedly execute a block of code as long as a condition is true. They are useful when you want to perform an action iteratively until a certain condition is met. 

ex- 
     While loops are commonly used when you want to iterate over a block of code until a certain condition becomes false. For example, reading data from a file until the end of the file is reached or processing user input until a specific command is entered.'''

'While loops in Python are used to repeatedly execute a block of code as long as a condition is true. They are useful when you want to perform an action iteratively until a certain condition is met. \n\nex- \n     While loops are commonly used when you want to iterate over a block of code until a certain condition becomes false. For example, reading data from a file until the end of the file is reached or processing user input until a specific command is entered.'

In [43]:
# Pattern 1
print("Pattern 1:")
i = 1
while i <= 5:
    j = 1
    while j <= i:
        print("*", end=" ")
        j += 3
    print()
    i += 2

# Pattern 2
print("\nPattern 2:")
i = 5
while i >= 1:
    j = 1
    while j <= i:
        print("*", end=" ")
        j += 1
    print()
    i -= 1

# Pattern 3
print("\nPattern 3:")
i = 1
while i <= 5:
    j = 5
    while j >= 1:
        if j <= i:
            print("*", end=" ")
        else:
            print(" ", end=" ")
        j -= 1
    print()
    i += 1

Pattern 1:
*
*
* *

Pattern 2:
* * * * *
* * * *
* * *
* *
*

Pattern 3:
        *
      * *
    * * *
  * * * *
* * * * *

In [44]:
num = 10
print("Reverse display from 10 to 1:")
while num >= 1:
    print(num)
    num -= 1

Reverse display from 10 to 1:
10
9
8
7
6
5
4
3
2
1